.botones {
    display: flex;
    height: '100%';
    width: '100%';
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botones div {
    width: 15vw;
    font-size: 1.2rem;
    border-radius: 2vw;
    text-align: center;
    padding: 1vh;
    margin: 10px;
}

.botones div:hover {
    scale: 1.1;
    cursor: pointer
}

.camaras {
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
}